body {
  display: flex;
  height: 100vh;
  margin: 0;
  text-align: center;
}

main {
  width: 75%;
  background-color: darkgray;
}

aside {
  width: 25%;
  text-align: center;
  padding-top: 2rem;
  background-color: lightgray;
}

button {
  margin: 0 2rem;
  width: 7rem;
}

p {
  font-weight: bolder;
}

input {
  width: 5rem;
}

#finished,
#score-display {
  text-align: center;
}

#scoreboard {
  display: inline;
  border: 1px solid black;
  padding: 2px 5px;
}
